@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div>
            こんにちは、@context.User.Identity?.Name さん！
            <button @onclick="Logout">ログアウト</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <button @onclick="Login">ログイン</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void Login()
    {
        Navigation.NavigateTo("Identity/Account/Login");
    }

    private void Logout()
    {
        Navigation.NavigateTo("Identity/Account/Logout");
    }
}
